.button {
    padding: 14px 28px;
    background-color:#1c081c;
    color: white;
    cursor: pointer;
}


.hover__center {
    position: relative;

        &:after {
            position: absolute;

            height: 3px;
            width: 0;
            left: 50%;
            bottom: 10px;

            content: "";
            background-color: darken(#dc143c,15%);
           
            transform: translateX(-50%);
        }
        
        &:hover:after {
            transition: 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55);

            width: 20px;
            left: 50%;

            transform: translateX(-50%);
        }
  }