$black : #1c081c;
$black-purple: #2d0c2d;
$white: #fff;

$primary:#960e29;
// $secondary:;

$grey: #ececec;
$grey-light: #f6f6f6;
$grey-dark: grey;

$succes: green;
$info: yellow;
$warning: red;

$text: #726672;